body {
  background-color: #1c1c1c;
}
.Total {
  font-family: "Times New Roman", Times, serif;
  color: #ffd700;
}
.lBusca {
  width: 90px;
  height: 80px;
}
input.BInput:focus {
  box-shadow: 1px 1px 5px 3px #ffff00;
}
.BInput {
  height: 35px;
  background: #1c1c1c;
  margin-right: 20px;
  border: 0.5px solid #fffafa;
  border-radius: 3px;
  color: #ffd700;
  font-size: 20px;
}
a {
  text-decoration: none !important;
  color: #fffafa;
}
.Resultados {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  background-color: #363636;
  margin: 20px 40px 20px 40px;
  border-radius: 6px;
  text-align: center;
  color: #fffafa;
  width: 240px;
  height: 110px;
  float: left;
  display: block;
}
.Alt {
  font-size: 15px;
}
.Alet {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #fffafa;
  padding: 20%;
  text-align: center;
}
a.Rest:hover,
a.Rest:active {
  color: #daa520;
}
.Rest {
  font-size: 20px;
}
div.resultados: hover;
/* div.Resultados:active { font-size: 130%; border: 2px solid #FFFF00;} */
